<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PageControlViewProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6DD85FE61D229E2700A48259</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DD85FFA1D229E2800A48259</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DD860051D229E2800A48259</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
